.toppic > img {
  width: 60%;

  margin-left: 22%;
}
.toppic {
  width:  100%;
}
.cuts {
  text-align: center;
  margin-top: 5%;
  height: auto;
}
.cuts > h2 {
  margin-top: 6%;
  letter-spacing: 1px;
  font-family:  sans-serif;
  font-weight: 300;


}
.cuts > h4 {
  margin-top: 3%;
  letter-spacing: 1px;
  font-weight: 300;
}
.a {
  color: #FF86CD;
}
.bottomP {
  margin-bottom: 5%;
}
.inqButton {

  position: fixed;
  left: 70%;
}
.inq {
  width: 100px;
}
