.top-intro-div {
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height:40rem;
  /* width: 100%; */
}
.bekblkwhthome {
  margin: 0 auto;
  width: 100%;

}
.bek-photo-div {
  margin: 0 auto;
  width: 90.5%;
  display:flex;
  padding-top: 20px;
  justify-content: center;

}
.intro-right {
  margin: 0 auto;
  font-size: 40px;


}
.fa-star {
  color: #E6E836;
  margin: 10px;
  padding-top: 40%;

}
.ratebox {
  display:flex;
  flex-direction: column;
  margin:0 auto;

}
.rating {
  text-align: center;
  margin-top: 10%;

}
.rating > h3 {
  font-family:sans-serif;
  font-weight: 500;
  font-size: 25px;
  letter-spacing: 3px;
}
.home-card-div {
  width: 50%;
  height: 430px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 8%;
  transform: rotate(350deg);
  margin-top: 5%;
  transition-duration: 1s;
}
.home-card-div:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 255, 239), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition-duration: 1s;
}
.mobile-bekblkwhthome {
  width: 100%;
}
